<style>
  .navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: end;
  }
  .main_navbar {
    display: flex;
    align-items: end;
  }
  .navlink {
    margin: 20px;
    align-items: center;
    text-decoration: none;
    font-size: 25px;
    border: 1px solid orange;
    width: 100px;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
  }
</style>

<div class="navbar">
  <ul class="main_navbar">
    <a href="/" class="navlink"> Sign in</a>
    <a href="loginn" class="navlink"> Log in</a>
  </ul>
</div>
